


.home-page h1{
    color: var(--second-color);
}
.home-page h5{
    color: var(--primary-color);
}
.menu-section{
    background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url(../user/img/section-menu.jpg) ;
    background-size: cover;
}
.section-photoGallery img{
   
    
}
@media only screen and (max-width:768){
    .home-page h1{
        font-size:25px;
    }
    .home-page h5{
        font-size: 22px;
    }
}

@media only screen and (max-width:480){
    .home-page h1{
        font-size:20px;
    }
    .home-page h5{
        font-size: 18px;
    }
}