.reviews-section img{
    width: 120px;
    border-width: thin;
}

.scroll-container {
    overflow-x: auto; /* Permet le défilement horizontal */
    display: flex;
    padding-bottom: 20px;
}

.scroll-content {
    display: flex;
    flex-wrap: nowrap;
}

.col-lg-6 {
    min-width: 50%; /* Deux cartes par ligne */
    padding-right: 15px;
}

.card {
    margin-right: 15px;
}
